
*{
  font-family: "Muli";
  box-sizing: border-box;
}

.login{
  background: #0000ffd2 url(../img/login-bg.jpg) center;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  min-height: 100vh;
}
.matching{
  color: #ff0062;
  margin-bottom: 6px;
  font-weight: 600;
}
.matching::before{
  content: '\2716';
  margin-right: 10px;
}
.matching.ok{
  color: #14f114;
}
.matching.ok::before{
  content: '\2713';
}

#emailErr::before{
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background: #000;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

img{
  width: 100%;
}
.login-img{
  width: 100px;
  height: auto;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
}

.login-form-box{
  background: #8602ad url(../img/grow.png) center right;
  background-blend-mode: multiply;
  background-size: cover;
}
.login-header{
  backdrop-filter: blur(5px);
  padding: 20px 0;
}

.hero{
  background: #000088 url(../img/hero.jpg) center right;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.dashboard{
  background: #070B29 url(../img/bank-bg.png) center;
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
.box{
 background: #223272;
}

.dashboard .header {
  background: #1BA8C6;
}
#confirmation{
  background: #00000069;
}
.close{
  position: absolute;
  bottom: 100%;
  left: 100%;
  border: 0;
  outline: none;
  padding: 0;
  z-index: 9999;
  cursor: pointer;
}
#comformation-img{
  border-radius: 50%;
  background: #fff;
  padding: 15px;
}